/* Custom variables */
:root {
  /* Custom Colors */
  --cream: #f9f6ee;
  --blue: #3c408e;
  /* --blue: var(--blue-11); */
  --red: #d7484b;
  --yellow: #fcc419;
  /* Numeric/Length Values */
  --sqrt2: 1.41421356; /* for use in calc() when adjusting hamburger menu button after it transforms into 'X' shape */
  --menu-btn-width: 3rem;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Smooth scroll behavior for root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Image resets */
img,
picture {
  max-width: 100%;
  display: block;
}

/* List reset */
ul {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations, transitions, and smooth scroll for users with reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  .cta-text,
  .cube-container {
    animation: none;
  }
  .cube {
    animation: none;
    transform: rotate3d(-0.5, -1, 0.15, 45deg);
  }
}

/* General */
body {
  min-height: 100vh;
  background-color: var(--cream);
  color: var(--blue);
  /* font-family: Inter, Helvetica, sans-serif; */
  font-family: var(--font-sans);
  /*width: min(
    100% - 2rem,
    50rem
  ); /* 1rem margin @ left and right on smaller screens */
  margin-inline: auto; /* horizontally center body based on above */
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  /* font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif; */
  font-family: var(--font-serif);
  letter-spacing: var(--font-letterspacing-0);
}
/* p {
  text-wrap: balance;
} */

/* Utility Classes */
.grid {
  display: grid;
  place-content: center;
}
.flex {
  display: flex;
  gap: var(--size-3);
}
.main-section-vert-padding {
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
}
.scroller {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}
.snapper {
  scroll-snap-align: start;
}

/* Components */
/* Navbar */
.nav-bar {
  position: relative; /* create positioning context for the dropdown nav-list */
  padding: 1rem;
}
.logo-wrapper {
  margin-right: auto; /* easy sub instead of setting justify-content: space-between on the nav-bar flex container */
  align-items: center;
}
.logo {
  font-size: var(--font-size-5);
  font-weight: 100;
  line-height: var(--font-lineheight-00);
  padding-top: 0.17em; /* TODO: FIGURE OUT HOW TO COMBAT FONT-BASED VERTICAL CENTERING ISSUES WHEN THE FONT'S ASCENDERS SCREW UP HOW THE TEXT'S CONTENT-AREA SITS IN THE VIRTUAL (i.e., LINE-HEIGHT) AREA. Possible w/ current CSS? */
}
.logo,
.nav-link {
  text-decoration: none;
  color: var(--blue);
}

/* Hamburger menu */
.menu-button {
  background: none;
  border: none;
  position: relative;
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  transition: transform 0.3s ease-in-out;
}
.line {
  display: block;
  background: var(--blue);
  height: 2px;
  border-radius: var(--radius-1);
  width: 100%;
  position: absolute;
  transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}
.line:first-child {
  top: 40%;
}
.line:last-child {
  bottom: 40%;
}
.menu-button[aria-expanded='true'] .line:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-button[aria-expanded='true'] .line:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.nav-list {
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: end;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.nav-list.show {
  transform: scale(1, 1);
  background-color: var(--cream);
  z-index: 2;
  min-width: 100vw;
  padding-bottom: 1rem;
}
.nav-item {
  width: 100%;
  font-size: var(--font-size-3);
  opacity: 0;
  padding-right: var(--size-3);
}
.nav-list.show .nav-item {
  opacity: 1;
  transition: opacity 200ms ease-in-out 250ms;
}
.nav-item:last-child {
  padding-bottom: var(--size-3);
}
.nav-link {
  display: inline-block;
  width: 100%;
  padding-top: var(--size-7);
  padding-bottom: var(--size-7);
  /* Find difference between nav button's diagonal and its width. Use 0.5 of that value to bump links leftward to maintain alignment with the button when it's in an 'X' shape. Less awkard than translating the button itself rightward on transform. */
  padding-right: calc(
    (var(--menu-btn-width) * var(--sqrt2) - var(--menu-btn-width)) / 2
  );
  cursor: pointer;
  transition: font-weight 200ms ease, font-style 200ms ease;
}
.nav-link:active,
.nav-link:hover {
  font-weight: var(--font-weight-6);
  font-style: italic;
}

/* Slider Form */
.hide-on-mobile {
  display: none;
}

/* Footer */
/* Hide form labels so still readable for Accessibility */
.footer {
  padding: var(--size-8) var(--size-4);
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h3 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-1);
  font-style: italic;
  line-height: 0.8;
  margin-bottom: 0.75rem;
  padding: var(--size-3) 0 var(--size-4);
}
.contact-form {
  width: 100%;
}
.footer input,
.footer textarea,
.footer-button-submit {
  width: 100%;
  margin-bottom: var(--size-6);
  padding: 0.5em;
  color: var(--blue);
  font-size: var(--font-size-1);
}
.footer-button-submit {
  margin-top: 0.5rem;
  margin-bottom: 0;
  background-color: var(--blue);
  color: var(--cream);
  text-decoration: none;
  border: 2px solid var(--cream);
  font-size: var(--font-size-3);
  cursor: pointer;
}
.footer-flex-row-container {
  margin: var(--size-8) 0 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.sitemap h4 {
  font-size: 1.75rem;
  font-weight: var(--font-weight-00);
  font-style: italic;
}
.sitemap a {
  display: block;
  text-decoration: none;
  color: var(--cream);
  margin-top: var(--size-3);
}
.sitemap a:hover {
  font-style: italic;
}
.footer-address-section {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-address-section address {
  font-style: normal;
  font-weight: var(--font-weight-1);
  margin-bottom: var(--size-3);
}
.footer .flex-row {
  display: flex;
  justify-content: end;
  align-items: center;
}
.phone-icon {
  width: 1.5em;
  height: auto;
  display: inline-block;
}
.footer-address-section a {
  display: inline-block;
  margin-left: 0.5em;
  text-decoration: none;
  color: var(--cream);
}
.footer-address-section a:hover {
  font-style: italic;
}
.footer-social-wrapper {
  width: 100%;
  margin: var(--size-8) 0;
  display: flex;
  justify-content: space-between;
}
.footer-social-link-item {
  display: inline-block;
}
.footer-social-button {
  border: 1px solid var(--cream);
  /* TODO: CHANGE ABOVE VAR TO HSLA TO BE LESS OPAQUE */
  cursor: pointer;
  width: min(15vw, 3.75rem);
  height: min(15vw, 3.75rem);
  border-radius: 50%;
  border-color: hsla(44, 48%, 95%, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-button:hover {
  border-color: hsla(44, 48%, 95%, 1);
  border-width: 2px;
}
.footer-social-svg {
  display: inline-block;
  max-width: 60%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.footer-fine-print {
  /* width: min(450px, 100%); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-fine-print p {
  font-family: var(--font-serif);
  font-style: italic;
}

/* Page-specific Styles */

/* Home */
.home.grid {
  grid-auto-columns: 1fr;
  grid-template-areas:
    'intro'
    'projects'
    'accordion'
    'cta';
}

/* Home - Intro */
.intro {
  grid-area: intro;
  text-align: center;
  padding: var(--size-4);
}
.intro-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-7);
  width: min(400px, 80%);
  margin: 0 auto;
}
.home-h1 {
  text-align: left;
  font-size: clamp(2.5rem, 14vw, 5.5rem);
  font-weight: var(--font-weight-1);
  line-height: var(--font-lineheight-00);
  letter-spacing: var(--font-letterspacing-0);
}
.perspective-container {
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 350px;
}
.swing-container {
  display: inline-block;
  position: relative;
  line-height: .6;
  transform-style: preserve-3d;
  transform-origin: bottom;
  /* animation: 1200ms cubic-bezier(0.82, 0, 0.18, 1) swing  */
  /* animation: 1000ms ease-in swing-down, 1000ms ease-out 1200ms swing-up; */
  animation: 
    800ms cubic-bezier(.65, .1, .71, .21) swing-down,
    900ms cubic-bezier(.19,.57,.3,1) 800ms swing-up;
    /* cubic-bezier(0, 0, .65, 1) */
}
.swinger-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #d7484b;
  transform: translateZ(-1px);
  z-index: -1;
}
.swinger {
  display: inline-block;
  position: relative;
}
@keyframes swing-down {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-.5turn);
  }
}
@keyframes swing-up {
  0% {
    transform: rotateX(-.5turn);
  }
  100% {
    transform: rotateX(-1turn);
  }
}
/* @keyframes swing {
  from {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-180deg);
  }
  to {
    transform: rotateX(-360deg);
  }
}  */
.headshot {
  width: min(90%, 400px);
  border-radius: 50%;
  margin: 0.5rem auto 0;
}
.intro-text {
  text-transform: uppercase;
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-2);
}
.intro-heading-svg-wrapper {
  position: relative;
}
svg.squiggle {
  position: absolute;
  top: 100%;
  left: 69%;
  width: 34%;
  z-index: 1;

  transition: all 1s ease-in-out;
}
svg.squiggle path {
  stroke: var(--red);
  stroke-width: 3px;
}

/* Home - Projects Section */
.home-projects {
  grid-area: projects;
  padding: var(--size-4);
  margin-bottom: var(--size-8);
  position: relative;

  max-width: 100%;

  background-color: transparent;
}
.sticky-heading-wrapper {
  padding-bottom: var(--size-5);
}
.projects-sticky-heading {
  line-height: var(--font-lineheight-00);
  text-align: center;
  /* font-size: clamp(3rem, 20vw, 5.5rem); */
  /* margin-top: 3rem; */
  font-size: 20vw;
  /* font-family: 'Cormorant Garamond'; */
  /* font-weight: 100; */
  width: 100%;
  /* border: 1px solid red; */
  font-weight: var(--font-weight-1);
  /* font-style: italic; */
  text-transform: uppercase;

  position: sticky;
  top: 50vh;
  z-index: 1;

  animation: fade-out linear;
  animation-timeline: scroll(nearest block);
}
/* Sticky header animation */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .5;
  }
}
.project-card {
  margin: 6rem auto;
  max-width: 90%;
  border: 1px solid var(--blue);
  padding: 1rem;
  background-color: var(--cream);
  color: var(--blue);

  position: relative;
  z-index: 5;
}
.project-card.left {
  margin-right: auto;
}
.project-card.right {
  margin-left: auto;
  margin-right: 0;
}
.project-card.one {
  margin: 2rem auto 4rem 0;
  width: 75%;
}
.project-card.three {
  margin-left: 20%;
  margin-right: auto;
  width: 70%;
}
.last-card {
  margin-top: -2rem;
  margin-bottom: 0;
}
.project-card-link-item {
  text-decoration: none;
  color: var(--blue);
}
.project-figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-3);
  text-transform: uppercase;
}
.project-thumbnail {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}

/* Home - Accordion Section */
.accordion {
  grid-area: accordion;
  padding: var(--size-9) var(--size-4);
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accordion h2 {
  line-height: var(--font-lineheight-00);
  text-align: center;
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  font-weight: var(--font-weight-1);
  font-style: italic;
}
.details-wrapper {
  width: min(400px, 100%);
}
.details-item {
  padding: var(--size-6) 0;
  border-bottom: 1px solid var(--cream);
  font-size: var(--font-size-3);
}
.summary {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
summary::-webkit-details-marker {
  display: none;
}
.details-item:first-of-type .summary {
  border-top: 1px solid var(--cream);
  padding-top: var(--size-6);
}
.summary:hover {
  font-weight: var(--font-weight-6);
}
.plus-sign {
  width: 1.5em;
}
.summary-content {
  padding-top: var(--size-3);
  font-weight: var(--font-weight-3);
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-2);
}
.summary-content a {
  color: var(--cream);
}
.summary-content a:hover {
  font-style: italic;
}

/* Home - CTA Section */

/* Animations for CTA */
@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes float-cube {
  50% {
    transform: translateY(-25%);
  }
}
/* push down an extra 35% to neutralize float animation bobbing shadow up and down */
@keyframes shrink-shadow {
  50% {
    bottom: -115%;
    width: 100%;
    height: 100%;
  }
}

.cta {
  grid-area: cta;
  padding: var(--size-10) var(--size-4);
}
.cta-wrapper {
  margin: 0 auto;
  width: 90%;
  position: relative;

  display: grid;
  grid-template-areas: 'stack';
  justify-items: center;
  align-items: center;
}
.cta-text {
  width: 100%;
  height: 100%;

  grid-area: stack;
}
.cta-text.active {
  animation-name: rotate-circle;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.cube-container {
  width: 25%;
  height: 25%;
  perspective: 500px;
  /* animation: float-cube 3s var(--ease-in-out-3) 5; */

  grid-area: stack;
  position: relative; /*???*/
}
.cube-container.active {
  animation: float-cube 3s var(--ease-in-out-3) 5;
}
.cube {
  /* border: 1px solid red; */
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotate3d(-0.5, -1, 0.19, 45deg) translateX(5%);
}
.cube::after {
  content: '';
  position: absolute;
  bottom: -80%;
  background: rgba(43, 42, 42, 0.75);
  width: 100%;
  height: 110%;
  border-radius: 40%;
  filter: blur(10px);
  transform: rotateX(90deg);
  /* animation: shrink-shadow 3s var(--ease-in-out-3) 5; */
}
.cube-container.active .cube::after {
  animation: shrink-shadow 3s var(--ease-in-out-3) 5;
}
.face {
  width: 100%;
  height: 100%;
  padding: 20%;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-4);
  /* antialiasing */
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
}
.face.front {
  transform: translateZ(50px);
  background-color: hsla(237, 41%, 35%, 1);
}
.face.back {
  transform: translateZ(-50%) rotateY(180deg);
}
.face.left {
  transform: translateX(-50%) rotateY(-90deg);
}
.face.right {
  transform: translateX(49%) rotateY(90deg);
  background-color: hsl(237, 41%, 55%);
}
.face.top {
  transform: translateY(-50%) rotateX(90deg);
  background-color: hsl(237, 41%, 70%);
}
.face.bottom {
  transform: translateY(50%) rotateX(-90deg);
}
/* Portfolio */
.portfolio h1 {
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: var(--font-weight-1);
  line-height: var(--font-lineheight-00);
  letter-spacing: var(--font-letterspacing-0);
  font-style: italic;
}
.portfolio .banner {
  margin: var(--size-8) -1em 0;
  padding-top: var(--size-4);
  padding-bottom: var(--size-4);
  background-color: var(--blue);
  color: var(--cream);

  /* overflow: hidden; */
  overflow-x: hidden;
  width: 110%;
  transform: rotate(-5deg);
}
.banner-text {
  white-space: nowrap;
  animation: banner-scroll 10s linear infinite;
}
.banner-text::before {
  content: 'Portfolio\00A0\00B7';
}
.banner-text::after {
  content: '\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0Portfolio\00A0\00B7\00A0';
}

@keyframes banner-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.portfolio p,
.portfolio li {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-3);
}
.portfolio {
  grid-auto-columns: 1fr;
  grid-template-areas:
    'h1'
    'one'
    'two'
    'three';

  /* overflow: hidden; */
  overflow-x: hidden;
}
.portfolio-h1 {
  grid-area: 'h1';
}
.project-one {
  grid-area: 'one';
  padding-top: 0;
}
.project-two {
  grid-area: 'two';
  background-color: var(--blue);
  color: var(--cream);
}
.project-three {
  grid-area: 'three';
}
.project-section {
  padding: var(--size-fluid-5) var(--size-4);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-summary-container, .project-link-container, .project-toolbox-container, .project-lessons-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.project-heading-container {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}
.project-one .project-heading {
  margin-bottom: -1rem;
}
.project-heading {
  font-size: var(--size-10);
  font-weight: var(--font-weight-6);
  line-height: 0.8;
}
.h2-line-left {
  display: block;
  text-align: left;
}
.h2-line-center {
  display: block;
  text-align: center;
}
.h2-line-right {
  display: block;
  text-align: right;
}
.project-summary-h3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.project-h3 {
  font-family: var(--font-sans);
  font-size: var(--font-size-4);
  line-height: 1em;
}
.project-summary {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
}
.project-img-main-container {
  grid-column: 1 / 8;
}
.project-img-main,
.project-img-secondary {
  box-shadow: var(--shadow-2);
  min-width: 100%;
}
.project-link-container {
  grid-column: 1 / 8;
}
.project-link-item-container {
  display: flex;
  gap: .25em;
  align-items: center;
}
.new-window-icon-container {
  height: 1.25rem;
}
.new-window-icon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--blue);
}
.new-window-icon.cream {
  fill: var(--cream);
}
.project-link-item {
  display: flex;
  align-items: center;
  gap: .25em;

  text-decoration: none;
  font-size: var(--font-size-3);
  color: var(--blue);
  cursor: pointer;
}
.project-link-item:visited {
  color: var(--blue);
}
.project-two .project-link-item:visited {
  color: var(--cream);
}

.project-link-item:hover {
  font-weight: 500;
}
/* TODO: Shift layout of Toolbox on mobile to reflect summary layout */
.project-toolbox {
  grid-column: 3 / 8;
}
.project-img-secondary-container {
  grid-column: 1 / 8;
}
.project-lessons {
  grid-column: 1 / 8;
}

/* About */
.about.grid {
  padding: var(--size-4);
  grid-template-columns: repeat(12, 1fr);
  row-gap: var(--size-fluid-4);
  margin-bottom: var(--size-fluid-6);
  /* max-width: 500px; */
  background-color: var(--cream);
}
.about-h1 {
  max-width: 500px;
  grid-column: 1 / 13;
  margin-top: 1rem;

  font-weight: var(--font-weight-1);
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(3.5rem, 15vw, 5.15rem);
  font-weight: var(--font-weight-1);
  line-height: 0.85;
  letter-spacing: var(--font-letterspacing-0);
}
.square {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  grid-column: span 12;
}
.overlay-inner {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(./public/assets/sc-marsh.jpg);
  background-attachment: fixed;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
.parallax-frame {
  position: relative;
  min-width: calc(100vw - 2.5rem);
  background-color: transparent;
  grid-column: 1 / 12;
  grid-row: 4 / 5;
}
.square-section-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-5);
}
.about-one {
  background-color: var(--blue);
  color: var(--cream);
  grid-row: 2 / 3;
}
.about-two {
  grid-row: 3 / 4;
}
.about-three {
  grid-row: 5 / 6;
}
.about-two,
.about-three,
.about-four {
  border: 1px solid var(--blue);
}
.about-h2 {
  font-size: 2.5rem;
  font-weight: var(--font-weight-1);
  text-transform: uppercase;
  line-height: 0.9;
}
.square p {
  font-weight: var(--font-weight-1);
  font-size: 1.15rem;
}
.about-one a {
  color: var(--cream);
}
.square a:hover {
  font-style: italic;
}
button:hover {
  cursor: pointer;
}

/* Resume */
.resume {
  padding: var(--size-4);
}
.resume h1 {
  margin-bottom: var(--size-6);
  font-weight: var(--font-weight-1);
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(3.5rem, 15vw, 5.5rem);
  font-weight: var(--font-weight-1);
  line-height: 0.85;
  letter-spacing: var(--font-letterspacing-0);
}
.embed-container {
  width: 100%;
  height: 80dvh;
  margin-bottom: var(--size-8);
  box-shadow: var(--shadow-2);
}
.resume-embed {
  min-width: 100%;
  height: 100%;
}

/* Large Mobile Devices */
@media (min-width: 472px) {
  html {
    overflow-x: hidden;
  }
  /* TODO: Check on mobile to see if making parallax frame position fixed instead of background-attachment fixed worked */
  .parallax-frame {
    position: relative;
    min-width: 100%;
    grid-column: 2 / 11;
  }
  .overlay-inner {
    position: relative;
    background-attachment: fixed;
  }
  .about-h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .square p {
    line-height: 1.35rem;
  }
  .about-one,
  .about-three {
    grid-column: 1 / 10;
  }

  .about-two,
  .about-four {
    grid-column: 4 / 13;
  }
}

/* Tablet+ Styles */
@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }

  /* Tablet: Header */
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .logo {
    font-size: 2.5rem;
    transition: font-style 200ms ease;
  }
  .nav-bar {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-list.show::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: var(--cream);
    z-index: -1;
  }
  .nav-item {
    padding-right: 0;
  }

  /* Tablet: Footer */
  .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    padding: 5rem 3rem;
    min-height: 100vh;
  }
  .contact-form {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-button-submit,
  .slider-submit {
    background-color: var(--cream);
    color: var(--blue);
    width: 250px;
    padding: 0.75em;
    border-radius: 2em;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  .footer-button-submit:hover {
    font-weight: bold;
  }
  .contact-form h3 {
    font-size: 6rem;
    padding-top: 0;
  }
  .footer-flex-row-container {
    grid-column: 1 / 6;
    grid-row: 2 / 3;

    margin-top: 0;
    flex-direction: column;
  }
  .sitemap {
    order: 2;
  }
  .sitemap h4 {
    font-size: 2.25rem;
  }
  .sitemap li {
    font-size: 1rem;
  }
  .footer-address-section {
    align-self: start;
    text-align: start;
    align-items: start;
    margin: 2rem 0 4rem;
  }
  .footer-social-wrapper {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    align-self: start;
  }
  .footer-fine-print {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    align-self: end;

    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 1rem;
    margin-top: 4rem;
  }
  /* Tablet: Footer Slider Form */
  .slider-form-wrapper {
    transform: translateX(-100%);
    transition: transform 400ms cubic-bezier(.44,1.04,.88,.86);

    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: var(--blue);
    color: var(--cream);
  }
  .slider-form-wrapper.show {
    transform: translateX(0);

    z-index: 999;
  }
  .slider-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  .slider-close-btn {
    grid-column: 12 / 13;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
    border: 2px solid var(--cream);
    border-radius: 50%;
  }
  .slider-close-btn:hover,
  .slider-submit:hover {
    background-color: var(--cream);
    color: var(--blue);
    cursor: pointer;
  }
  .slider-form-wrapper h3 {
    grid-column: 3 / 11;
    grid-row: 1 / 3;
    font-size: 6rem;

    font-weight: var(--font-weight-1);
    font-style: italic;
    line-height: 0.8;
    padding: 3rem 0 1rem;
  }
  .slider-form-intro {
    font-size: 1.25rem;
    grid-column: 3 / 11;
    grid-row: 3 / 4;

    margin: 0.5rem 0 1.5rem;
    line-height: 1.25em;
  }
  .slider-form-inputs {
    grid-column: 3 / 11;
    grid-row: 4 / 6;
    width: 100%;
  }
  .slider-form-inputs input,
  .slider-form-inputs textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    font-size: 1.25rem;
  }
  .slider-submit {
    grid-column: 3 / 11;
    grid-row: 6 / 7;

    text-transform: uppercase;
    border: 2px solid var(--cream);
    background-color: var(--blue);
    color: var(--cream);
  }

  /* Tablet - Home */
  .home {
    grid-template-rows: repeat(4, auto);
    column-gap: 1.25rem; /* 20px gutter */
    /* row-gap: 6rem; */
  }
  .intro {
    padding: 0 3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .intro-content-wrapper {
    margin: 0;
    padding: 0;

    width: 100%;
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
  }
  .intro .home-h1 {
    font-size: min(6rem, 11vw);
    line-height: 4.5rem;
  }
  .intro-heading-svg-wrapper {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    align-self: end;
  }
  .headshot-wrapper {
    grid-column: 6 / 13;
    grid-row: 2 / 7;
    align-self: end;
    margin-top: 1.5rem;
  }
  .headshot {
    width: max(75%, 280px);
    /* margin: 0vh 0 0 auto; */
  }
  .intro-text {
    grid-column: 1 / 7;
    grid-row: 3 / 6;
    justify-self: start;
    align-self: center;

    margin-left: 4rem;
    margin-right: 2rem;

    text-align: left;
    font-size: 1.35rem;
    line-height: 1.35em;
    /* text-transform: none; */
  }
  svg.squiggle {
    top: 120%;
    left: 112%;
    width: 50%;
    height: auto;
    transform: rotate(-75deg);
  }
  .intro-btn {
    margin-top: 1.75em;
    padding: .75em 2em;
    text-transform: uppercase;
    border: none;
    border-radius: 2em;
    color: var(--cream);
    background-color: var(--blue);

    font-size: 1.25rem;
    cursor: pointer;
  }
  .intro-btn:hover {
    font-weight: 500;
  }

  /* Tablet: Home - Projects */
  .home-projects {
    padding: 6rem 1rem;
    margin-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      inset: -4rem 0;
      max-width: 100vw;
      margin: 0 auto;
      overflow: hidden;
      background-color: var(--blue);
    }
  }
  .sticky-heading-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .projects-sticky-heading {
    font-size: 18dvw;
    /* line-height: 10vw; */
    letter-spacing: 0.05em;
    color: var(--cream);
  }
  .project-card {
    width: min(500px, 70%);
    padding: 1.5rem;
    border-color: var(--cream);
    background-color: var(--blue);
  }
  .project-figure {
    color: var(--cream);
  }
  .project-card.one {
    width: 350px;
  }
  .project-card.two {
    width: 450px;
  }
  .project-card.three {
    width: 425px;
  }
  .project-card.left {
    margin-right: auto;
    margin-left: 2rem;
  }
  .project-card.right {
    /* margin: -5vw 0 0 auto; */
    margin-left: auto;
    margin-right: 2rem;
  }
  .last-card {
    margin-top: 6rem;
  }

  /* Tablet: Home - Accordion */
  .accordion {
    padding: 6rem 3rem;
    background-color: var(--cream);
    color: var(--blue);
  }
  .accordion h2 {
    font-size: 6rem;
    background-color: var(--cream);
    /* z-index: 999; */
  }
  .details-wrapper {
    width: 65%;
    background-color: var(--cream);
  }
  .details-item {
    border-color: var(--blue);
    /* background-color: transparent; */
    background-color: var(--cream);
    /* position: relative; */
    /* height: auto; */

    /* &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      background-color: pink;
      z-index: -1;
    } */
  }
  .details-item:first-of-type .summary {
    border-color: var(--blue);
  }
  .summary {
    background-color: var(--cream);
    /* background-color: transparent; */
    color: var(--blue);
    cursor: pointer;
    width: 100%;
    /* z-index: 100; */
  }
  /* .summary-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-out;
  }
  details[open] > .summary-content {
    grid-template-rows: 1fr;
  } */
  .summary-content {
    overflow: hidden;
  }
  /* details[open] > .summary {
    position: absolute;
    padding-bottom: 1.75rem;
    background-color: var(--cream);
    z-index: 999;
    overflow: hidden;
    
    &::before {
      content: '';
      position: absolute;
      top: -1.75rem;
      width: 100%;
      height: 1.75rem;
      background-color: #ecbfbf;
    }
  } */
  /* details[open] > .summary-content {
    margin-top: 5rem;
    padding-top: 0;
    background-color: transparent;
    overflow: hidden;
    animation: expand 1s ease-in-out;
    z-index: 5;
  } */
  .summary-content a {
    color: var(--blue);
  }
  .summary-content {
    overflow: hidden;
    /* z-index: 5; */
  }
  @keyframes expand {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* Tablet: Home - CTA */
  .cta {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    margin-bottom: 6rem;
    padding: 0 3rem;
  }
  .cta-wrapper {
    grid-column: 2 / 12;
  }
  .cube {
    transform-style: preserve-3d;
    transform: rotate3d(-0.5, -1, 0.19, 45deg) translateX(-2%);
  }
  .face {
    outline: 1px solid transparent;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    perspective: 1000;
    -webkit-perspective: 1000;
  }
  .face.top {
    transform: translateY(-50%) rotateX(90deg);
  }
  .face.bottom {
    transform: translateY(50%) rotateX(-90deg);
  }
  .face.left {
    transform: translateX(-50%) rotateY(-90deg);
  }
  .face.right {
    transform: translateX(50%) rotateY(90deg);
  }

  /* Tablet: Portfolio */
  .project-link-item {
    display: flex;
    align-items: center;
    gap: .25em;
  }
  .portfolio .banner {
    margin-top: 2rem;
    margin-bottom: var(--size-4);
    padding-top: var(--size-6);
  }
  .banner-text {
    animation: banner-scroll 15s linear infinite;
  }
  .project-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 3rem;
    padding-right: 3rem;
    /* gap: 0;
    column-gap: 1rem; */
    gap: 1.5rem;
  }
  .project-heading-container {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    margin-bottom: 2.5rem;
  }
  .project-summary-container {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .project-h3 {
    font-size: 2rem;
  }
  .project-summary-h3 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .project-img-main-container {
    grid-column: 6 / 13;
    grid-row: 2 / 5;
    justify-self: end;
  }
  .project-toolbox-container {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
  }
  .project-lessons-container {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
  }
  .project-toolbox {
    grid-column: 2 / 5;
    grid-row: 6 / 7;
  }
  .project-link-container {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
  }
  .project-img-secondary-container {
    grid-column: 1 / 13;
  }
  /* Project 2 */
  .project-two .project-heading-container {
    grid-column: 1 / 11;
    margin-bottom: 0;
  }
  .project-two .project-summary-container {
    grid-column: 1 / 13;
    text-wrap: balance;
  }
  .project-two .project-img-main-container {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
  }
  .project-two .project-toolbox-container {
    grid-column: 1 / 9;
    grid-row: 4 / 5;
  }
  .project-two .project-link-container {
    grid-column: 9 / 13;
    grid-row: 4 / 5;
  }
  .project-two .project-img-secondary-container {
    grid-column: 1 / 13;
    grid-row: 5 / 6;

    margin-top: 0;
  }
  .project-two .project-lessons-container {
    grid-column: 1 / 13;
    grid-row: 6 / 7;
  }
  /* Project 3 */
  .project-three .project-heading-container {
    grid-column: 1 / 9;
    margin-bottom: 0;
  }
  .project-three .project-summary-container {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
  .project-three .project-toolbox-container {
    grid-column: 8 / 13;
    grid-row: 6 / 7;
  }
  .project-three .project-img-main-container {
    grid-column: 6 / 13;
    grid-row: 2 / 4;
  }
  .project-three .project-link-container {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
  }
  .project-three .project-img-secondary-container {
    grid-column: 1 / 8;
    grid-row: 5 / 9;
  }
  .project-three .project-lessons-container {
    grid-column: 8 / 13;
    grid-row: 7 / 8;
  }

  /* Tablet: About */
  .about.grid {
    max-width: 100%;
    padding: 6rem 3rem;
    gap: 2rem;
  }
  .about a:visited {
    color: var(--blue);
  }
  .about-h1 {
    grid-column: 1 / 5;
    max-width: 100%;
    margin-top: 0;
  }
  .about-h2 {
    line-height: 2rem;
    font-size: 2rem;
  }
  .about p {
    font-weight: 300;
    line-height: 1.45rem;
  }
  .about-one {
    background-color: var(--cream);
    color: var(--blue);
    border: 1px solid var(--blue);
  }
  .square,
  .square a:visited {
    transition: all 300ms ease;
  }
  .square:hover,
  .square:hover a:visited {
    background-color: var(--blue);
    color: var(--cream);
  }
}

@media (min-width: 750px) {
  /* Cube CTA */
  .cube-container {
    margin-bottom: 5%;
  }
  .cube {
    width: 8rem;
    height: 8rem;
  }
  .face {
    border: 1px solid transparent;
  }
  .face.front {
    transform: translateZ(4rem);
  }

  /* About */
  .about.grid {
    padding: 6rem 4rem;
  }
  .about-h2 {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .about-one {
    grid-column: 6 / 13;
    grid-row: 1 / 2;
  }
  .about-two {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
  }
  .about-three {
    grid-column: 3 / 10;
    grid-row: 5 / 6;
  }
  .about-four {
    grid-column: 6 / 13;
    grid-row: 4 / 5;
  }
  .parallax-frame {
    grid-column: 3 / 10;
    grid-row: 3 / 4;
  }

  /* Projects */
  .h2-line-right {
    margin-right: 20%;
  }
  .project-one .project-link-container {
    justify-content: end;
  }
  .project-one .project-toolbox-container {
    justify-content: end;
  }
  .project-one .project-lessons-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .project-link-container {
    justify-content: center;
  }
  .project-three .project-summary-container {
    justify-content: end;
  }
  .project-three .project-img-main-container {
    grid-row: 2 / 4;
  }
  .project-three .project-toolbox-container {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    justify-content: end;
  }
  .project-three .project-link-container {
    grid-column: 8 / 13;
    grid-row: 5 / 6;
  }
  .project-three .project-lessons-container {
    grid-row: 6 / 7;
  }
}

/* Desktop Styles */
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
  .nav-bar {
    padding: 1rem 0;
  }

  /* Desktop: Header */
  .header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .logo {
    font-size: 3rem;
    /* TODO: Sort out different style to transition. New font family? Need something with incremental change ability in order for transition to take effect. */
  }
  .logo:active,
  .logo:hover {
    font-weight: var(--font-weight-6);
    font-style: italic;
  }
  .menu-button {
    display: none;
  }
  #nav-list {
    all: unset;
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav-item {
    opacity: 1;
    margin-left: 2em;
  }
  .nav-item:last-child {
    padding: 0;
    padding-right: 0;
  }
  .nav-link {
    width: auto;
  }

  /* Desktop: Footer */
  .footer {
    padding: 6rem 4rem;
    min-height: 100vh;
  }
  .footer-button-submit {
    width: 300px;
    font-size: 1.25rem;
  }
  .contact-form h3 {
    font-size: 6rem;
  }
  .footer-social-wrapper {
    grid-column: 9 / 13;
  }
  .footer-fine-print {
    grid-column: 10 / 13;
  }

  /* Desktop: Slider Form */
  .slider-form h3 {
    margin-top: 2rem;
  }
  .slider-form h3,
  .slider-form-intro,
  .slider-form-inputs,
  .slider-submit {
    grid-column: 4 / 10;
    max-width: 800px;
  }

  /* Desktop: Home */
  .home {
    column-gap: 1.25rem; /* 20px gutter */
    row-gap: 8rem;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
  }
  .intro {
    padding: 0;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .intro-content-wrapper {
    margin: 0;
    padding: 0 4rem;

    width: 100%;
    gap: 1.25rem;

    /* TODO: ASSESS IF NEEDED */
    max-width: 1600px;
  }
  .intro .home-h1 {
    font-size: min(7.25rem, 10vw);
    line-height: max(6rem, 8vw);
  }
  .intro-heading-svg-wrapper {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }
  .headshot-wrapper {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    align-self: center;
    margin-top: -10%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .intro-text {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    padding-top: 1rem;  
    font-size: 1.35rem;
    line-height: 2.25rem;
  }
  svg.squiggle {
    top: min(120%, 250px);
    left: min(115%, 40vw);
    width: min(250px, 35%);
    transform: rotate(-75deg);
  }
  .headshot {
    width: max(75%, 375px);
    margin-left: 2rem;
  }

  /* Desktop: Home - Projects */
  .projects-sticky-heading {
    font-size: 15vw;
    /* line-height: 10vw; */
  }
  .project-card {
    width: min(500px, 80%);
  }
  .project-card.left {
    margin-left: 4rem;
  }
  .project-card.right {
    margin-right: 4rem;
  }
  .project-card.one {
    width: 450px;
  }
  .project-card.two {
    width: 650px;
  }

  /* Desktop: Home - Accordion */
  .accordion {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    background-color: var(--cream);
    color: var(--blue);
  }
  .accordion h2 {
    grid-column: 2 / 12;
    grid-row: 1 / 2;

    font-size: 7rem;
    text-align: start;
  }
  .details-wrapper {
    grid-column: 5 / 12;
    grid-row: 2 / 3;
    width: 100%;
  }
  .details-item:first-of-type .summary {
    border-top: 2px solid var(--blue);
  }
  .details-item {
    border-bottom: 2px solid var(--blue);
  }

  /* Desktop: Home - CTA */
  .cta {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    margin-bottom: 6rem;
    padding: 0;
  }
  .cta-wrapper {
    grid-column: 1 / 8;
    max-width: 650px;
  }
  .cube-container {
    margin-bottom: 10%;
  }
  .cube {
    transform-style: preserve-3d;
    transform: rotate3d(-0.5, -1, 0.19, 45deg) translateX(-8%);
  }
  .face.back {
    transform: translateZ(-80px) rotateY(180deg);
  }

  /* Desktop: Portfolio */
  .portfolio .banner {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
  }
  .banner-text {
    animation: banner-scroll 15s linear infinite;
  }
  .project-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-two {
    position: relative;
  }
  .project-two::after {
    content: '';
    position: absolute;
    /* overflow: hidden; */
    overflow-x: hidden;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    z-index: -1;
    background-color: var(--blue);
  }
  .project-heading-container {
    grid-column: 1 / 7;
    margin-bottom: 0;
  }
  .project-img-main-container {
    width: 100%;
    grid-column: 7 / 13;
    grid-row: 1 / 5;
    justify-self: end;
  }
  .project-h3 {
    font-size: 2rem;
  }
  .project-summary-h3 {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
  }
  .project-summary-container {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }
  .project-toolbox-container {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
  }
  .project-toolbox-h3 {
    grid-column: 2 / 7;
    grid-row: 5 / 6;
  }
  .project-lessons-container {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
  }
  .project-link-container {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
  }
  .project-img-secondary-container {
    grid-column: 1 / 13;
    grid-row: 6 / 7;
  }
  .project-summary-container,     
  .project-toolbox-container, 
  .project-link-container, 
  .project-one .project-link-container, 
  .project-lessons-container {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: start;
    align-items: start;
    padding-top: 10%;
  }
  .project-one .project-link-container,
  .project-three .project-link-container {
    align-items: center;
  }
  .project-h3 {
    min-width: 35%;
    text-align: end;
  }
  .project-summary {
    width: 60%;
  }
  .project-takeaways-h3 {
    min-width: 17%;
  }
  .project-summary-container p,     
  .project-toolbox-container p, 
  .project-link-container p, 
  .project-one .project-link-container p, 
  .project-lessons-container p {
    padding-top: .25em;
  }
  .project-link-item-container {
    align-items: center;
    align-self: center;
  }
  .project-two .project-heading-container {
    grid-column: 1 / 7;
  }
  .project-two .h2-line-right {
    margin-right: 0;
  }
  .project-two .project-img-main-container {
    grid-row: 2 / 3;
    margin: 2rem 0;
  }
  .project-two .project-img-secondary-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .project-two .project-summary-container {
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    padding-top: 0;

    flex-direction: column;
    gap: .5rem;
  }
  .project-two .project-summary-h3, .project-two .project-summary {
    width: 100%;
    text-align: start;
  }
  .project-two .project-toolbox-container {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    padding-top: 0;

    flex-direction: column;
    gap: .5rem;
  }
  .project-two .project-link-container {
    grid-column: 7 / 13;
    grid-row: 4 / 5;

    padding-top: 0;

    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
  }
  .project-two .project-link-container .project-h3, .project-two .project-link-item-container {
    align-self: start;
    text-align: start;
  }
  .project-two .project-toolbox-h3,
  .project-three .project-toolbox-h3 {
    text-align: start;
  }
  .project-two .project-lessons-container {
    grid-column: 1 / 13;

    padding-top: 0;

    flex-direction: column;
    align-items: start;
    gap: .5rem;
  }
  .project-two .project-h3 {
    text-align: start;
  }
  .project-three .h2-line-center {
    margin-right: 8rem;
  }
  .project-three .h2-line-right {
    margin-right: 4rem;
  }
  .project-three .project-img-main-container {
    grid-column: 7 / 13;
    grid-row: 2 / 5;
  }
  .project-three .project-summary-container,
  .project-three .project-toolbox-container,
  .project-three .project-link-container {
    padding-top: 0;
    align-self: end;
  }
  .project-three .project-summary-container, 
  .project-three .project-toolbox-container,
  .project-three .project-link-container {
    grid-column: 1 / 7;
  }
  .project-three .project-link-container {
    grid-row: 4 / 5;
    padding-top: 0;
  }
  .project-three .project-summary-h3, 
  .project-three .project-toolbox-h3 {
    text-align: end;
  }
  .project-three .project-img-secondary-container {
    grid-column: 1 / 7;
    padding-top: 2rem;
  }
  .project-three .project-lessons-container {
    grid-column: 7 / 12;
    grid-row: 5 / 6;

    flex-direction: column;
    gap: 1.25rem;
    text-align: start;
  }
  .project-three .project-lessons-container p {
    padding-top: 0;
  }

  /* Desktop: About */
  .about-h1 {
    grid-column: 1 / 6;
    max-width: 100%;
    font-size: 6rem;
    /* text-align: end; */
  }
  .about-h2 {
    line-height: 2rem;
    font-size: 2.25rem;
  }
  .about p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .about-one {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    background-color: var(--cream);
    color: var(--blue);
    border: 1px solid var(--blue);
  }
  .about-two {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }
  .about-three {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
  }
  .about-four {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
  }
  .parallax-frame {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
  }
  .square,
  .square a:visited {
    transition: all 300ms ease;
  }
  .square:hover,
  .square:hover a:visited {
    background-color: var(--blue);
    color: var(--cream);
  }
}

@media (min-width: 1200px) {
  /* LG: Home - Cube CTA */
  .cube {
    width: 12rem;
    height: 12rem;
    transform: rotate3d(-0.5, -1, 0.19, 45deg) translateX(-4%);
  }
  .face.front {
    transform: translateZ(6rem);
  }
  /* LG: Projects */
  .project-section {
    column-gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .project-one .project-img-main-container,
  .project-three .project-img-main-container {
    padding-right: 3rem;
  }
  .project-three .h2-line-center {
    margin-right: 40%;
  }
  .project-three .h2-line-right {
    margin-right: 50%;
  }
  .project-three .project-img-secondary-container {
    padding-left: 10%;
  }
  /* LG: About */
  .about.grid {
    gap: 1.75rem;
  }
  .about-h1 {
    font-size: 7rem;
  }
  .about h2 {
    font-size: 2.75rem;
  }
  .about p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .about h1 {
    grid-column: 1 / 5;
  }
  .about-one {
    grid-column: 5 / 9;
  }
  .about-two {
    grid-column: 5 / 9;
  }
  .about-three {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .about-four {
    grid-column: 9 / 13;
  }
  .parallax-frame {
    grid-column: 9 / 13;
  }
}

@media (min-width: 1600px) {
  /* XL */
  .nav-bar,
  .header,
  .intro,
  .home-projects,
  .accordion,
  .cta,
  .slider-form,
  .project-one,
  .project-two,
  .project-three,
  .footer,
  .about.grid {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
  }

  /* XL: Home */
  .intro-text {
    align-self: center;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  svg.squiggle {
    top: 120%;
    left: 83%;
    width: 30%;
  }
  .headshot {
    max-width: 550px;
  }
  .cube-container {
    width: 250px;
    height: 250px;
    top: 35%;
    left: 37%;
  }
  .face.front {
    transform: translateZ(100px);
  }

  /* Fills in sides of blue background sections after the XL content width constraint creates gaps */
  body {
    overflow-x: hidden;
  }
  .project-two {
    position: relative;
  }
  .footer {
    position: relative;
  }
  .project-two::before,
  .footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50vw;
    background-color: var(--blue);
    width: 200%;
    height: 100%;
    z-index: -1;
  }

  /* XL: About */
  .about p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .about-one {
    grid-column: 9 / 13;
  }
  .about-two {
    grid-column: 1 / 5;
  }
  .about-three {
    grid-column: 5 / 9;
  }
  .about-four {
    grid-row: 2 / 3;
  }
}

/* TODO: 
   - Make headshot less wide on larger screens if still using vw on mobile
   - Sort out contact pseudo-form. No backend for Midterm. Create actual form for final? 
   - 
   */

/* PROPERTIES TO REMEMBER TO LEVERAGE IF APPROPRIATE: 
 place-content: center; // shorthand for align-content | justify-content, used in flexbox & grid. Can spec just 1 value to appy to both align-content and justify-content.

 // This is a great way to give your main content area a "margin" on smaller screen sizes (`100% - 2rem` means 1rem on each side), and a max-width of 50rem or whatever on larger screens. `margin-inline: auto` is a shorthand way of saying `margin-left: auto; margin-right: auto;`.
 .content-container {
  width: min(100% - 2rem, 50rem [or 800px]);
  margin-inline: auto;
 }

 // Change OP to custom properties, and have them be dependent on user's dark or light mode preference 
 :root {
  --brand: var(--blue-10)
 }

 @media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--[whatever-cream-color]);
  }
}

*/
