/* Custom variables */
:root {
  /* Custom Colors */
  --cream: #f9f6ee;
  --blue: #3c408e;
  --red: #d7484b;
  --yellow: #fcc419;
  /* Numeric/Length Values */
  --sqrt2: 1.41421356; /* for use in calc() when adjusting hamburger menu button after it transforms into 'X' shape */
  --menu-btn-width: 3rem;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Smooth scroll behavior for root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Image resets */
img,
picture {
  max-width: 100%;
  display: block;
}

/* List reset */
ul {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations, transitions, and smooth scroll for users with reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  .cta-text,
  .cube-container {
    animation: none;
  }

  .cube {
    animation: none;
    transform: rotate3d(-0.5, -1, 0.15, 45deg);
  }
}

/* General */
body {
  min-height: 100vh;
  background-color: var(--cream);
  color: var(--blue-11);
  /* font-family: Inter, Helvetica, sans-serif; */
  font-family: var(--font-sans);
  /*width: min(
    100% - 2rem,
    50rem
  ); /* 1rem margin @ left and right on smaller screens */
  margin-inline: auto; /* horizontally center body based on above */
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  /* font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif; */
  font-family: var(--font-serif);
  letter-spacing: var(--font-letterspacing-0);
}

p {
  text-wrap: balance;
}

/* Utility Classes */
/* TODO: Add helpful classes to add to HTML like `.grid-col-span-2 { span 2; }` */
.grid {
  display: grid;
  place-content: center;
}

.flex {
  display: flex;
  gap: var(--size-3);
}

.main-section-vert-padding {
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
}

/* Components */
/* Navbar */
.header {
  padding: var(--size-4) var(--size-4) 0;
}

.nav-bar {
  position: relative; /* create positioning context for the dropdown nav-list */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo-wrapper {
  margin-right: auto; /* easy sub instead of setting justify-content: space-between on the nav-bar flex container */
  align-items: center;
}

.logo {
  font-size: var(--font-size-5);
  font-weight: 100;
  line-height: var(--font-lineheight-00);
  padding-top: 0.17em; /* TODO: FIGURE OUT HOW TO COMBAT FONT-BASED VERTICAL CENTERING ISSUES WHEN THE FONT'S ASCENDERS SCREW UP HOW THE TEXT'S CONTENT-AREA SITS IN THE VIRTUAL (i.e., LINE-HEIGHT) AREA. May be impossible w/ current CSS? */
}

.logo,
.nav-link {
  text-decoration: none;
  color: var(--blue-11);
}

/* Hamburger menu */
.menu-button {
  background: none;
  border: none;
  position: relative;
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  transition: transform 0.3s ease-in-out;
}

.line {
  background: var(--blue-11);
  height: 2px;
  border-radius: var(--radius-1);
  width: 100%;
  position: absolute;
  transition: transform 0.5s ease, top 0.5s ease, bottom 0.5s ease;
}

.line:first-child {
  top: 40%;
}

.line:last-child {
  bottom: 40%;
}

.menu-button[aria-expanded='true'] .line:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-button[aria-expanded='true'] .line:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.nav-list {
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: end;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav-list.show {
  transform: scale(1, 1);
  background-color: var(--cream);
  z-index: 2;
}

.nav-item {
  width: 100%;
  font-size: var(--font-size-3);
  opacity: 0;
  padding-right: var(--size-3);
}

.nav-list.show .nav-item {
  opacity: 1;
  transition: opacity 200ms ease-in-out 250ms;
}

.nav-item:last-child {
  padding-bottom: var(--size-3);
}

.nav-link {
  display: inline-block;
  width: 100%;
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
  /* Find difference between nav button's diagonal and its width. Use 0.5 of that value to bump links leftward to maintain alignment with the button when it's in an 'X' shape. Less awkard than translating the button itself rightward on transform. */
  padding-right: calc(
    (var(--menu-btn-width) * var(--sqrt2) - var(--menu-btn-width)) / 2
  );
  cursor: pointer;
  transition: font-weight 200ms ease, font-style 200ms ease;
}

.nav-link:active,
.nav-link:hover {
  font-weight: var(--font-weight-6);
  font-style: italic;
}

/* Content */
/* h2 {
  line-height: var(--font-lineheight-00);
  text-align: center;
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  font-weight: var(--font-weight-1);
  font-style: italic;
} */

/* Footer */
/* Hide form labels so still readable for Accessibility */
.footer {
  padding: var(--size-8) var(--size-4);
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h3 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-1);
  font-style: italic;
  line-height: var(--font-lineheight-00);
  padding: var(--size-3) 0;
}

.contact-form {
  width: min(450px, 100%);
}

.footer input,
.footer textarea,
.footer-button-submit {
  width: 100%;
  margin-bottom: var(--size-6);
  padding: 0.5em;
  color: var(--blue);
  font-size: var(--font-size-1);
}

.footer-button-submit {
  margin-bottom: 0;
  background-color: var(--blue);
  color: var(--cream);
  text-decoration: none;
  border: 2px solid var(--cream);
  font-size: var(--font-size-3);
}

.footer-social-wrapper {
  width: min(400px, 100%);
  padding: var(--size-8) 0;
  display: flex;
  justify-content: space-between;
}

.footer-social-link-item {
  display: inline-block;
}

.footer-social-button {
  border: 1px solid var(--cream);
  /* TODO: CHANGE ABOVE VAR TO HSLA TO BE LESS OPAQUE */
  cursor: pointer;
  width: min(10vw, 3rem);
  height: min(10vw, 3rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-svg {
  display: inline-block;
  max-width: 60%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footer-fine-print {
  width: min(450px, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-fine-print p {
  font-family: var(--font-serif);
  font-style: italic;
}

/* Page-specific Styles */

/* Home */
.home.grid {
  /* margin-top: var(--size-8); */
  grid-auto-columns: 1fr;
  grid-template-areas:
    'intro'
    'projects'
    'accordion'
    'cta';
}

/* Home - Intro */
.intro {
  grid-area: intro;
  text-align: center;
  padding: var(--size-4);
}

.intro-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-8);
  width: min(400px, 80%);
  margin: 0 auto;
}

.intro h1 {
  text-align: left;
  font-size: clamp(2.5rem, 14vw, 5.5rem);
  font-weight: var(--font-weight-1);
  line-height: var(--font-lineheight-00);
  letter-spacing: var(--font-letterspacing-0);
}

.headshot {
  width: min(90%, 400px);
  border-radius: 50%;
  margin: 0 auto;
}

.intro-text {
  text-transform: uppercase;
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-2);
}

.intro-heading-svg-wrapper {
  position: relative;
}

svg.squiggle {
  position: absolute;
  top: 95%;
  left: 64%;
  width: 35%;
  z-index: 1;
}

svg.squiggle path {
  stroke: var(--red);
  stroke-width: 3px;
}

/* Home - Projects Section */
.home-projects {
  grid-area: projects;
  padding: var(--size-4);
  margin-bottom: var(--size-8);
  position: relative;
}

.sticky-heading-wrapper {
  padding-bottom: var(--size-5);
}

.projects-sticky-heading {
  line-height: var(--font-lineheight-00);
  text-align: center;
  font-size: clamp(2.5rem, 20vw, 4.5rem);
  font-weight: var(--font-weight-1);
  font-style: italic;
  text-transform: uppercase;

  position: sticky;
  top: 50vh;
  z-index: 1;
}

.project-card {
  width: min(350px, 90%);
  border: 1px solid var(--blue);
  padding: var(--size-4);
  background-color: var(--cream);

  position: relative;
  z-index: 5;
}

.project-card.left {
  margin-right: auto;
}

.project-card.right {
  margin: var(--size-10) 0 var(--size-10) auto;
}

.project-card.one {
  margin-top: var(--size-8);
}

.last-card {
  margin-top: -1.5rem;
}

.project-card-link-item {
  text-decoration: none;
  color: var(--blue);
}

.project-figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-3);
  text-transform: uppercase;
}

.project-thumbnail {
  margin-bottom: var(--size-8);
  width: 100%;
  height: auto;
}

/* Home - Accordion Section */
.accordion {
  grid-area: accordion;
  padding: var(--size-9) var(--size-4);
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion h2 {
  line-height: var(--font-lineheight-00);
  text-align: center;
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  font-weight: var(--font-weight-1);
  font-style: italic;
}

.details-wrapper {
  width: min(400px, 100%);
}

.details-item {
  padding: var(--size-6) 0;
  border-bottom: 1px solid var(--cream);
  font-size: var(--font-size-3);
}

.summary {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-item:first-of-type .summary {
  border-top: 1px solid var(--cream);
  padding-top: var(--size-6);
}

.summary:hover {
  font-weight: var(--font-weight-6);
}

.plus-sign {
  width: 1.5em;
}

.summary-content {
  padding-top: var(--size-3);
  font-weight: var(--font-weight-3);
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-2);
}

.summary-content a {
  color: var(--cream);
}

.summary-content a:hover {
  font-style: italic;
}

/* Home - CTA Section */
/* TODO: Leverage JS Intersection Observer API to only run these when elements come into view */

/* Animations for CTA */
@keyframes rotate-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes float-cube {
  50% {
    transform: translateY(-25%);
  }
}

/* push down an extra 35% to neutralize float animation bobbing shadow up and down */
@keyframes shrink-shadow {
  50% {
    bottom: -115%;
    width: 100%;
    height: 100%;
  }
}

.cta {
  grid-area: cta;
  padding: var(--size-10) var(--size-4);
}

.cta-wrapper {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.cta-text {
  width: 100%;
  height: 100%;
  animation-name: rotate-circle;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.cube-container {
  /* border: 1px solid blue; */
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  perspective: 500px;
  animation: float-cube 3s var(--ease-in-out-3) 5;
}

.cube {
  /* border: 1px solid red; */
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotate3d(-0.5, -1, 0.19, 45deg) translateX(18%);
}

.cube::after {
  content: '';
  position: absolute;
  bottom: -80%;
  background: rgba(43, 42, 42, 0.75);
  width: 105%;
  height: 110%;
  border-radius: 40%;
  filter: blur(10px);
  transform: rotateX(90deg);
  animation: shrink-shadow 3s var(--ease-in-out-3) 3;
}

.face {
  width: 100%;
  height: 100%;
  padding: 20%;
  /* background: var(--blue); */
  /* border: 2px solid var(--blue); */
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-4);
}

.face.front {
  transform: translateZ(50px);
  background-color: hsla(237, 41%, 35%, 1);
  /* background-color: hsl(359, 64%, 35%); */
}

.face.back {
  transform: translateZ(-49px) rotateY(180deg);
}

.face.left {
  transform: translateX(-49px) rotateY(-90deg);
}

.face.right {
  transform: translateX(50px) rotateY(90deg);
  background-color: hsl(237, 41%, 55%);
}

.face.top {
  transform: translateY(-50px) rotateX(90deg);
  background-color: hsl(237, 41%, 70%);
}

.face.bottom {
  transform: translateY(49px) rotateX(-90deg);
}

/* Portfolio */
h1 {
  text-align: center;
  font-size: clamp(2.5rem, 14vw, 5.5rem);
  font-weight: var(--font-weight-1);
  line-height: var(--font-lineheight-00);
  letter-spacing: var(--font-letterspacing-0);
}

.portfolio p, .portfolio li {
  line-height: 1.5em;
  font-size: var(--font-size-3);
}

.portfolio {
  padding: var(--size-4);
  grid-auto-columns: 1fr;
  grid-template-areas:
    'h1'
    'one'
    'two'
    'three';
  gap: var(--size-8);
}

.projects-h1 {
  grid-area: 'h1';
}

.project-one {
  grid-area: 'one';
}

.project-two {
  grid-area: 'two';
}

.project-three {
  grid-area: 'three';
}

.project-section {
  border: 2px solid var(--blue);
  padding-bottom: var(--size-8);
}

.project-intro {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.project-heading {
  padding: var(--size-8);
  background-color: var(--blue);
  color: var(--cream);
  text-align: center;
  /* order: 1; */
  font-size: var(--font-size-fluid-2);
  letter-spacing: var(--font-letterspacing-2);
  font-weight: var(--font-weight-3);
}

.project-main-img {
  /* order: 3; */
  margin: 0 var(--size-4);
  box-shadow: var(--shadow-2);
}

.project-summary {
  /* order: 2; */
  width: 100%;
  margin: 0 auto;
  padding: var(--size-4) var(--size-6);
  line-height: 1.5em;
  font-size: var(--font-size-3);
  
}

.role-skill-url-container {
  padding: var(--size-4) var(--size-6);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
}

.role-skill-url-container p {
  font-size: var(--font-size-2);
}

.portfolio h3 {
  font-size: var(--font-size-3);
  /* font-style: italic; */
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
  margin-bottom: var(--size-3);
  width: max-content;
  border-bottom: 2px solid var(--blue);
}

.project-link-item {
  text-decoration: none;
  font-size: var(--font-size-2);
  color: var(--blue);
  cursor: pointer;
}

.project-link-item:hover {
  font-style: italic;
}

/* Tablet+ Styles */
@media (min-width: 768px) {
  /* Change Navbar */
  #menu-button {
    display: none; /* hide hamburger button */
  }

  .nav-list {
    display: flex; /* display nav list as flex row */
    gap: var(--size-3);
    align-items: center;
  }

  /* Portfolio page */
  /* Project One */
  .project-intro {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'img h2'
      'img summary';
  }
}

/* TODO: 
   - Make headshot less wide on larger screens if still using vw on mobile
   - Sort out contact pseudo-form. No backend for Midterm. Create actual form for final? 
   - 
   */

/* PROPERTIES TO REMEMBER TO LEVERAGE IF APPROPRIATE: 
 place-content: center; // shorthand for align-content | justify-content, used in flexbox & grid. Can spec just 1 value to appy to both align-content and justify-content.

 // This is a great way to give your main content area a "margin" on smaller screen sizes (`100% - 2rem` means 1rem on each side), and a max-width of 50rem or whatever on larger screens. `margin-inline: auto` is a shorthand way of saying `margin-left: auto; margin-right: auto;`.
 .content-container {
  width: min(100% - 2rem, 50rem [or 800px]);
  margin-inline: auto;
 }

 // Change OP to custom properties, and have them be dependent on user's dark or light mode preference 
 :root {
  --brand: var(--blue-10)
 }

 @media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--[whatever-cream-color]);
  }
}

*/

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--blue-4);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
